body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #DA291C;
}

.jumbotron {
    background: url(../img/ot.jpg) no-repeat center center fixed; 
    /* -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;  */
    min-height: 450px;
    background-size: 100%;
    color: white;
}

.note-content {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    resize: none;
}

.material-icons {
    color: red;
}

#artCon{
    background-color: black;
    color: white;
}
